<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 为实体类配置别名 -->
	<typeAliases>
		<package name="com.ccms.pojo"/>
	</typeAliases>

	<mappers>
		<mapper resource="com/ccms/dao/StudentMapper.xml" />
	</mappers>
	
</configuration> 