<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<import resource="classpath:beans.xml" />

	<mvc:annotation-driven />

	<mvc:resources location="/resources/" mapping="/resources/**"/>
	<!-- 
		mvc:view-controller可以在不需要Controller处理request的情况，转向到设置的View 
		<mvc:view-controller path="/" view-name="forward:login"/>
	 -->
	<!--  
	<mvc:view-controller path="/" view-name="redirect:login"/>
 	-->
	
	<!-- 配置拦截器 -->
	<mvc:interceptors>
		<!-- 拦截学生操作 -->
		<!-- 
		<mvc:interceptor>
			<mvc:mapping path="/stu/**"/>
			<bean class="com.ccms.interceptor.StudentInterceptor">
				不需要拦截的url地址
				<property name="excludeUrls">
					<list>
						<value>/ccms/</value>
						<value>/ccms/login</value>
					</list>
				</property>
				
			</bean>
		</mvc:interceptor>
		 -->
		
		<!-- 记录用户登录 -->
		<mvc:interceptor>
			<!-- path为被拦截的Controller请求的url，可以配置多个-->
			<mvc:mapping path="/login"/>
			<bean class="com.ccms.interceptor.Log4LoginInterceptor">
				<property name="accessLogService" ref="accessLogService"></property>
			</bean>
			
		</mvc:interceptor>
		
	</mvc:interceptors>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>




















