<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
"-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccms.dao.ActivityTypeDAO">
	
	<!-- 查询所有的活动类型 -->
	<select id="list" resultType="ActivityType">
		select * from t_activity_type type order by type.id
	</select>
	
	<!-- 根据id查询 -->
	<select id="queryById" resultType="ActivityType">
		select * from t_activity_type type where type.id = #{id}
	</select>
	
	<!-- 根据名称查询 -->
	<select id="queryByName" parameterType="string" resultType="ActivityType" >
		select * from t_activity_type type where type.name = #{name}
	</select>
	
	<!-- 编辑活动类别 -->
	<update id="setCategory" parameterType="ActivityType">
		update t_activity_type set name=#{name} where id = #{id} 
	</update>
 	 
</mapper>  