<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
"-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccms.dao.FileEntityDAO">
	<insert id="add" parameterType="FileEntity">
		insert into t_files (
		  col_id,
		  originalFilename,
		  newFileName,
		  saveUrl,
		  fileSize,
		  uploadDate,
		  authority
		  ) 
		  VALUES (#{college.id}, #{originalFilename}, #{newFileName},
		   		#{saveUrl}, #{fileSize}, #{uploadDate}, #{authority})
	</insert>
	
	<!--  -->
	<select id="queryByPage" resultType="FileEntity">
		select col_id, originalFilename, uploadDate from t_files f 
			where f.status = 1 
			and f.authority = #{authority}
			limit #{pageOffset}, #{pageSize}
	</select>
	
	<!--  -->
	<select id="totalRecord">
		select count(*) from t_files f
			where f.authority = #{authority}
	</select>
	
	<!-- 根据文件新名称查询 -->
	<select id="queryByNewFileName" parameterType="string" resultType="FileEntity">
		select * from t_files f where f.newFileName = #{newFileName}
	</select>
	
	<!-- 根据id查询 -->
	<select id="queryById" parameterType="int" resultType="FileEntity">
		select * from t_files f where f.id = #{id}
	</select>
	
	<update id="delete" parameterType="int">
		update t_files f set f.status = -1 where f.id = #{id};
	</update>
	
	<update id="linkFileAndActivity">
		update t_files f set f.activityUuid = #{uuid} where f.id = #{fileId};
	</update>
	
	<!-- 根据活动activityUuid加载附件 -->
	<select id="queryByActivityUuid" resultType="FileEntity">
		select * from t_files f where f.activityUuid = #{activityUuid} and status = 1;
	</select>
	
	
</mapper>  