<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
"-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccms.dao.FileEntityDAO">
	<insert id="add" parameterType="FileEntity">
		insert into t_files (
		  col_id,
		  originalFilename,
		  newFileName,
		  saveUrl,
		  fileSize,
		  uploadDate,
		  authority
		  ) 
		  VALUES (#{college.id}, #{originalFilename}, #{newFileName},
		   		#{saveUrl}, #{fileSize}, #{uploadDate}, #{authority})
	</insert>
	
	<!--  -->
	<select id="queryByPage" resultType="FileEntity">
		select col_id, originalFilename, uploadDate from t_files f 
			where f.status = 1 
			and f.authority = #{authority}
			limit #{pageOffset}, #{pageSize}
	</select>
	
	<!--  -->
	<select id="totalRecord">
		select count(*) from t_files f
			where f.authority = #{authority}
	</select>
	
	
	
</mapper>  