<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
"-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccms.dao.NoticeDao">
	<!-- 添加资讯 -->
	<insert id="add" parameterType="Notice">
		insert into t_notices(title, content, publisherId, pubTime, nociceUuid, status )
			values(#{title}, #{content}, #{publisherId}, #{pubTime}, #{nociceUuid}, #{status})
			
	</insert>
	
	<!-- 根据id删除活动 -->
	<delete id="delete" parameterType="int">
		delete from t_activities where id = #{id}
	</delete>
	
	<!-- 分页查询所有通过审核的Activity -->
	<select id="queryPageByStatus" resultType="NoticeVO">
		select t1.id id, t1.title title, t1.content content, t2.name pubName, t1.pubTime pubTime 
		from t_notices t1
		inner join t_colleges t2
		on t1.publisherId = t2.id
		where t1.status = #{status} order by pubTime desc
		limit #{pager.pageOffset}, #{pager.pageSize};	
	</select>
	<!-- 根据状态获取公告总数 -->
	<select id="getTotleRecordByStatus" parameterType="int" resultType="int">
		select count(*) from t_notices where status = #{status};
	</select>

	<!-- 分页查询所有资讯（草稿、已发布） -->
	<select id="queryAllByPage" resultType="NoticeVO">
		select t1.id id, t1.title title, t1.content content, t2.name pubName, t1.pubTime pubTime, t1.status status
			from t_notices t1
			inner join t_colleges t2
			on t1.publisherId = t2.id
			where t1.status != -1 order by pubTime desc
			limit #{pager.pageOffset}, #{pager.pageSize};	
	</select>
	<!-- 所有资讯（草稿、已发布）总记录数 -->
	<select id="getTotleRecord" resultType="int">
		select count(*) from t_notices where status != -1;
	</select>
	
	<!-- 根据id查询 -->
	<select id="queryByNoticeId" parameterType="int" resultType="NoticeVO">
		select t1.id id, t1.title title, t1.content content, t2.name pubName, t1.pubTime pubTime 
		from t_notices t1
		inner join t_colleges t2
		on t1.publisherId = t2.id
		where t1.id = #{noticeId};
	</select>
	
	<!-- 更新资讯 -->
	<update id="update" parameterType="Notice">
		update t_notices set title = #{title}, content = #{content}, status = #{status}
		where id = #{id};
	</update>

</mapper>  



































