<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
"-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccms.dao.RankDAO">
	<!-- 查询所有等级 -->
	<select id="queryAll" resultType="Rank">
		select * from t_ranks;
	</select>
	
	<!-- 根据id查询  -->	
	<select id="queryById" parameterType="int" resultType="Rank">
		select * from t_ranks where id = #{id}
	</select>
	
	<!-- 根据学生学号查看学生历年受助等级 -->
	<select id="queryByStudentNum" parameterType="string" resultType="RankVO">
		select lev.id id, lev.num num, lev.year, rank.name rankName
			from t_stu_level lev
			left join t_ranks rank
			on lev.rank_id = rank.id
			where lev.num = #{num}
	</select>
 	 
</mapper>  