<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
"-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccms.dao.SpecialtyDAO">
	
	
	<select id="queryByName" resultType="Specialty">
		select id, name from t_specialty where col_id=#{college.id} and name=#{name};
	</select>
	
	<!-- 添加专业 -->
	<insert id="add" parameterType="Specialty">
		insert into t_specialty(name, col_id) values(#{name}, #{college.id});
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="Specialty">
		update t_specialty set name=#{name} where id=#{id}
	</update>
	
	
	
	
	
	
</mapper>  