<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
"-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccms.dao.StudentDAO">
	
	<!-- 添加学生 -->
	<insert id="add" parameterType="Student">
		<![CDATA[
			insert into t_students( num, pwd, name, gender, phone, email, qq, rank_id, col_id, spec_id, introduce, year )
			values(#{num}, #{pwd}, #{name}, #{gender}, #{phone}, 
			#{email}, #{qq}, #{rank.id}, #{college.id}, #{specialty.id}, #{introduce}, #{year});	
		]]>
	</insert>
	
	<!-- 根据学号和学年查询学生 -->
	<select id="queryNumAndYear" resultType="Student">
		select num, year from t_students where num = #{num} and year = #{year};
	</select>
	
	<!-- 更新学生 -->
	<update id="update" parameterType="Student">
			update t_students 
			<set> 
				<if test="num != null">num=#{num}, </if>
				<if test="pwd != null and pwd!='' ">pwd=#{pwd}, </if>
				<if test="name != null">name=#{name}, </if>
				<if test="gender != null">gender=#{gender}, </if>
				<if test="phone != null">phone=#{phone}, </if>
				<if test="email != null">email=#{email}, </if>
				<if test="qq != null">qq=#{qq}, </if>
				<if test="year != null">year=#{year}, </if>
				<if test="rank.id != null">rank_id=#{rank.id}, </if>
				<if test="college.id != null">col_id=#{college.id}, </if>
				<if test="specialty.id != null">spec_id=#{specialty.id}, </if>
				<if test="introduce != null"> introduce=#{introduce}, </if>
				<if test="status != null"> status=#{status}</if>
			</set>
			where id=#{id};
	</update>
	
	<!-- 根据id更新部分信息 -->
	<update id="updatePartInfo" parameterType="Student">
		update t_students 
		<set>
			<if test="pwd != null and pwd != '' ">pwd=#{pwd},</if>
			<if test="name != null and name != '' ">name=#{name}</if>
		</set>
		where id=#{id};
	</update>
	
	
	<!-- 根据学号查询学生 -->
	<select id="queryByNum" parameterType="string" resultMap="StudentResultMap">
		select stu.id stu_id, stu.pwd, stu.num, stu.name stu_name, stu.gender, stu.phone, stu.email, stu.qq, 
		level.year, rank.id rand_id, rank.name rank_name, col.id col_id, col.name col_name, spe.id spe_id, spe.name spe_name
		FROM t_students stu 
		,t_ranks rank
		,t_colleges col
		,t_specialties spe
	    ,t_stu_level level
			where level.rank_id =rank.id and level.stu_id = stu.id
	    and stu.col_id=col.id
	    and stu.spec_id=spe.id 
	    and stu.num=#{num} and status=1;
	</select>	
	
	<!-- 根据学号和学年查询 -->
	<select id="queryByNumAndYear" resultMap="StudentResultMap">
		select stu.id stu_id, stu.pwd, stu.num, stu.name stu_name, stu.gender, stu.phone, stu.email, stu.qq, 
			level.year, rank.id rand_id, rank.name rank_name, col.id col_id, col.name col_name, spe.id spe_id, spe.name spe_name
			FROM t_students stu 
			,t_ranks rank
			,t_colleges col
			,t_specialties spe
		    ,t_stu_level level
				where level.rank_id =rank.id and level.stu_id = stu.id and level.`year` = #{year}
		    and stu.col_id=col.id
		    and stu.spec_id=spe.id 
		    and stu.num=#{num} and status=1;
	</select>
	
	<!-- 根据学号和密码查询学生 status=1学生账号可用-->
	<select id="queryByNumAndPwd" resultMap="StudentResultMap2">
		select stu.id stu_id, stu.pwd, stu.num, stu.name stu_name, stu.gender, stu.phone, stu.email, stu.qq, 
			rank.id rank_id, rank.name rank_name, rank.duration duration
			FROM t_students stu
	    ,t_ranks rank
	    ,t_stu_level level
			where level.num = stu.num and level.rank_id = rank.id 
	    and stu.num=#{num} and stu.pwd=#{pwd} and status=1;

	</select>
		<resultMap type="Student" id="StudentResultMap2">
		<id column="stu_id" property="id"/>
		<result column="pwd" property="pwd"/>
		<result column="num" property="num"/>
		<result column="stu_name" property="name"/>
		<result column="gender" property="gender"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<result column="qq" property="qq"/>
		<result column="year" property="year"/>
		
		<association property="rank" javaType="Rank">
			<id column="rank_id" property="id"/>
			<result column="rank_name" property="name"/>
			<result column="duration" property="duration"/>
		</association>
	</resultMap>
	
	
	
	<!-- 根据id查询学生 -->
	<select id="queryByIdAndYear" parameterType="int" resultMap="StudentResultMap">
		select stu.id stu_id, stu.pwd, stu.num, stu.name stu_name, stu.gender, stu.phone, stu.email, stu.qq, 
		rank.id rank_id, rank.name rank_name, duration, col.id col_id, col.name col_name, spe.id spe_id, spe.name spe_name
		FROM t_students stu 
    	inner join t_stu_level lev on lev.`year`= #{year} and lev.stu_id = stu.id
		inner join t_ranks rank on lev.rank_id=rank.id
		inner join t_colleges col on stu.col_id=col.id 
		inner join t_specialties spe on stu.spec_id=spe.id 
		where stu.id=#{id};
	</select>	
	
	<resultMap type="Student" id="StudentResultMap">
		<id column="stu_id" property="id"/>
		<result column="pwd" property="pwd"/>
		<result column="num" property="num"/>
		<result column="stu_name" property="name"/>
		<result column="gender" property="gender"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<result column="qq" property="qq"/>
		<result column="year" property="year"/>
		
		<association property="rank" javaType="Rank">
			<id column="rank_id" property="id"/>
			<result column="rank_name" property="name"/>
			<result column="duration" property="duration"/>
		</association>
		
		<association property="college" javaType="College">
			<id column="col_id" property="id"/>
			<result column="col_name" property="name"/>
		</association>	
		<association property="specialty" javaType="Specialty">
			<id column="spe_id" property="id"/>
			<result column="spe_name" property="name"/>
		</association>	
				
	</resultMap>
	
	<!-- 根据学生id获取报名列表 -->
	<select id="getAllStudentByActivityId"  parameterType="int" resultType="StudentDto">
		select item.id itemId, stu.id as stuId, stu.num, stu.name, stu.gender, stu.phone,
			col_1.name as collegeName, spec.name as specialtyName, item.audit as status 
			from t_students stu
				inner join t_activity_item item on item.stu_id = stu.id
				inner join t_activities act on item.act_id = act.id
				inner join t_colleges col_1 on stu.col_id = col_1.id
				left join t_specialties spec on stu.spec_id = spec.id
				inner join t_colleges col_2 on act.col_id = col_2.id
				where act.id = #{actId};
	</select>
	
	<!-- 查看活动报名学生列表分页 -->
	<select id="queryByActivityId" resultType="StudentDto">
		select item.id itemId, stu.id as stuId, stu.num, stu.name, stu.gender, stu.phone,
		col_1.name as collegeName, spec.name as specialtyName, item.audit as status 
		from t_students stu
			inner join t_activity_item item on item.stu_id = stu.id
			inner join t_activities act on item.act_id = act.id
			inner join t_colleges col_1 on stu.col_id = col_1.id
			left join t_specialties spec on stu.spec_id = spec.id
			inner join t_colleges col_2 on act.col_id = col_2.id
			where act.id = #{actId}
			limit #{pager.pageOffset}, #{pager.pageSize};
	</select>
	
	<!--  根据活动id查看报名学生总记录数 -->
	<select id="getTotalRecordByActivityId" parameterType="int" resultType="int">
		select count(*)
		from t_students stu
			inner join t_activity_item item on item.stu_id = stu.id
			inner join t_activities act on item.act_id = act.id
			inner join t_colleges col_1 on stu.col_id = col_1.id
			inner join t_specialties spec on stu.spec_id = spec.id
			inner join t_colleges col_2 on act.col_id = col_2.id
			where act.id = #{actId};
	</select>
	
	<!-- 根据条件查看学生列表 -->
	<select id="queryStudentsByDto" resultMap="StudentResultMap">
	 select stu.id stu_id, stu.pwd, stu.num, stu.name stu_name, stu.gender, stu.phone, stu.email, stu.qq, 
		rank.id rank_id, rank.name rank_name, col.id col_id, col.name col_name, spe.id spe_id, spe.name spe_name
		from t_students stu 
		inner join t_ranks rank on stu.rank_id=rank.id
		inner join t_colleges col on stu.col_id=col.id 
		inner join t_specialties spe on stu.spec_id=spe.id 
		<where>
			stu.year = #{dto.year}
			<if test="dto.colId != null">and col.id=#{dto.colId}</if>
			order by col.id, rank.id, stu.num
		</where>
	</select>
	
	<!-- 根据条件查看学生分页 -->
	<select id="queryStudents" resultMap="StudentResultMap">
	 select stu.id stu_id, stu.pwd, stu.num, stu.name stu_name, stu.gender, stu.phone, stu.email, stu.qq, 
		rank.id rank_id, rank.name rank_name, col.id col_id, col.name col_name, spe.id spe_id, spe.name spe_name
		from t_students stu 
		inner join t_stu_level lev on lev.stu_id = stu.id
		inner join t_ranks rank on lev.rank_id=rank.id
		inner join t_colleges col on stu.col_id=col.id 
		inner join t_specialties spe on stu.spec_id=spe.id 
   
		<where>
			lev.year = #{dto.year}
			<if test="dto.num != null and dto.num != '' ">and stu.num=#{dto.num}</if>
			<if test="dto.name != null and dto.name != '' ">and stu.name like "%"#{dto.name}"%"</if>
			<if test="dto.specId != null and dto.specId != -1">and spe.id=#{dto.specId}</if>
			<if test="dto.colId != null and dto.colId != -1">and col.id=#{dto.colId}</if>
			order by stu.num
			limit #{pager.pageOffset}, #{pager.pageSize};
		</where>
	</select>
	
	<select id="getTotalStudents" resultType="int">
		select count(*) from t_students stu
		inner join t_specialties spe on stu.spec_id=spe.id 
		inner join t_colleges col on stu.col_id=col.id 
		inner join t_stu_level lev on lev.stu_id = stu.id
		<where>
			lev.year = #{dto.year}
			<if test="dto.num != null and dto.num != '' ">and stu.num=#{dto.num}</if>
			<if test="dto.name != null and dto.name != '' ">and stu.name like "%"#{dto.name}"%"</if>
			<if test="dto.specId != null and dto.specId != -1">and spe.id=#{dto.specId}</if>
		    <if test="dto.colId != null and dto.colId != -1">and col.id=#{dto.colId}</if>
		</where>
	</select>
	
</mapper>  























