<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
"-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccms.dao.StuLevelDao">
	
	<!-- 添加学生受助等级 -->
	<insert id="add" parameterType="StuLevel">
		<![CDATA[
			insert into t_stu_level(num, rank_id, year)
			values(#{num}, #{rankId}, #{year})
		]]>
	</insert>
	
</mapper>  










